export ADDR=:8080
export DB_ADDR=postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable
export SENDGRID_API_KEY=b51912be-b1ba-48b3-82e2-8e09bb587ed9
export MAILTRAP_API_KEY=21f98f4e8f30c345c2c79cb6280786bc
export ENV=production